@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-regular.woff2") format("woff2"),
      url("../fonts/inter-regular.woff") format("woff");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-bold.woff2") format("woff2"),
      url("../fonts/inter-bold.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/montserrat-regular.woff2") format("woff2"),
      url("../fonts/montserrat-regular.woff") format("woff");
    font-display: swap;
  }

.page-body {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
    background-color: #1E1E1E;
}